<div class="row">
  <div class="span8 well">
      "<em><%= comment.body %></em>" <br>
      <span class="quiet">by</span>
      <%= comment.user ? comment.user.username : "Unknown" %></h4>
      <small>at <%= time_format comment.created_at %></small>
  </div>
</div>
